{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<link type="text/css" href="{% static 'css/dashboard.css' %}" rel="stylesheet">
<script src="
https://cdn.jsdelivr.net/npm/chartist-plugin-pointlabels@0.0.6/dist/chartist-plugin-pointlabels.min.js
"></script>
<script src="
https://cdn.jsdelivr.net/npm/chartist-plugin-zoom@0.6.0/dist/chartist-plugin-zoom.min.js
"></script>
<script src="
https://cdn.jsdelivr.net/npm/chartist-plugin-threshold@0.0.2/dist/chartist-plugin-threshold.min.js
"></script>

<div class="col-12 mb-4">
      <div class="card bg-yellow-100 border-0 shadow">
        <div class="card-header d-sm-flex flex-row align-items-center flex-0">
          <div class="d-flex ms-auto">
            <a href="#" class="btn btn-secondary text-dark btn-sm me-2"  id="day-btn">Day</a>
            <a href="#" class="btn btn-dark btn-sm me-3" id="week-btn">Week</a>
          </div>
        </div>
        <div class="card-body p-2" id="containbox" style="overflow-x: auto;">
<div class="ct-double-octave ct-series-g" id="chart1d" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart2d" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart3d" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart4d" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart5d" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart6d" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart7d" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart8d" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart9d" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart10d" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart11d" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart12d" style="display: block;"></div>

<div class="ct-double-octave ct-series-g" id="chart1k" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart2k" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart3k" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart4k" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart5k" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart6k" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart7k" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart8k" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart9k" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart10k" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart11k" style="display: block;"></div>
<div class="ct-double-octave ct-series-g" id="chart12k" style="display: block;"></div>

        </div>
      </div>
    </div>
<script>
      var dateall={{ date|safe }};//以陣列存放個月日期 ex.一月dateall[0]=>[1,2,3...,31]
      var eleall={{ ele|safe }};//電力用量,跟dateall是對應的
      var total = {{ wholeusage|safe }};
      var weekdate=[];//存放日期從改成天改成周的資料
      var weekele=[];//周電力用量
      var year=2023;
      var t=0,n=0;
      var startdate;
      var standard = {{ standard|safe }};//平均值
      var overstandard=0;//日電力用量平均值
      var sum={{ wholeusage|safe }};//電力用量總和
      var weeksum=0;//周電力用量總和
      var weekstandard;//月電力用量平均值
      var throwawayNode1;//用來存放繪出圖形的節點
      var throwawayNode2;//用來存放繪出圖形的節點
      var chartElement1 = document.getElementById('chart1');//日電力圖表
      var chartElement2 = document.getElementById('chart2');//周電力圖表
      var use=document.getElementById('use');
      var compare=document.getElementById('compare');//與上月相比
      startdate=1;
      function weekcalculate() {
        t=0;
        sum=0;
        n=0;
        weekdate.length=0;
        weekele.length=0;
        for (var i = 0; i < eleall.length; i++) {
          sum += eleall[i];
          n++;
          if(n%7==0){
            n=0;
            weekdate.push(String(startdate)+'-'+String(dateall[i]));
            weekele.push(sum-t);
            t=sum;
          }
        }
      }

      function calculate_overstandard(){
        overstandard=0;
        for (var i = 0; i < eleall.length; i++) {
          if(eleall[i]>=standard)overstandard++;
        };
        console.log(standard)
      }
      weekcalculate();

      calculate_overstandard()

      for (var i = 0; i < weekele.length; i++) {
        weeksum += weekele[i];
        console.log(weeksum);
      };

      weekstandard=Math.round(weeksum/4);
      // chart1 chart2繪製
      function drawchart(){
          var chart1 = new Chartist.Line('#chart1', {
                  labels: dateall,
                  series: [eleall],
              }, {
                  showArea: true,
                  axisY: {
                      onlyInteger: true
                  },
                  plugins: [
                      Chartist.plugins.ctThreshold({
                          threshold: standard,
                      }),
                      Chartist.plugins.ctPointLabels({
                          textAnchor: 'middle'
                      })
                  ]
              }
          );
          callback();
      };drawchart();
      function setCallback(cb) {
    callback = cb;
  };

      var chart2 = new Chartist.Line('#chart2', {
          labels: weekdate,
          series: [weekele],
        }, {
          showArea: true,
          axisY: {
            onlyInteger: true
          },
          plugins: [
            Chartist.plugins.ctThreshold({
              threshold: standard*7,
            }),
            Chartist.plugins.ctPointLabels({
              textAnchor: 'middle'
            })
          ]
        });
      // 銷毀圖表對象
      setTimeout(function() {
        chart2.detach();
      // 從 DOM 中移除圖表元素
        throwawayNode2=chartElement2.parentNode.removeChild(chartElement2);
      }, 200);

      const dayBtn = document.getElementById("day-btn");
      const weekBtn = document.getElementById("week-btn");

      dayBtn.addEventListener("click", function(){
        // dayBtn跟weekbtn屬性交換
        dayBtn.classList.remove("btn", "btn-dark", "btn-sm", "me-3");
        dayBtn.classList.add("btn", "btn-secondary", "text-dark", "btn-sm", "me-2");
        weekBtn.classList.remove("btn", "btn-secondary", "text-dark", "btn-sm", "me-2");
        weekBtn.classList.add("btn", "btn-dark", "btn-sm", "me-3");

        // 如果圖表元素存在，則刪除
        if (chartElement2) {
          // 銷毀圖表對象
          chart2.detach();
          // 從 DOM 中移除圖表元素
          throwawayNode2=chartElement2.parentNode.removeChild(chartElement2);
          document.getElementById("containbox").appendChild(throwawayNode1);
        }
        chart1.update();
      });



      weekBtn.addEventListener("click", function(){
        // dayBtn跟weekbtn屬性交換
        weekBtn.classList.remove("btn", "btn-dark", "btn-sm", "me-3");
        weekBtn.classList.add("btn", "btn-secondary", "text-dark", "btn-sm", "me-2");
        dayBtn.classList.remove("btn", "btn-secondary", "text-dark", "btn-sm", "me-2");
        dayBtn.classList.add("btn", "btn-dark", "btn-sm", "me-3");

        // 如果圖表元素存在，則刪除
        if (chartElement1) {
          // 銷毀圖表對象
          chart1.detach();
          // 從 DOM 中移除圖表元素
          throwawayNode1 = chartElement1.parentNode.removeChild(chartElement1);
          document.getElementById("containbox").appendChild(throwawayNode2);
        }
        chart2.update();
      });

  });