{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="fs-5 fw-bold mb-0">SDGs各項指標介紹</h2>
                </div>
                <div class="col text-end">
                </div>
            </div>
        </div>
        <div style="text-align: center;" class="sdgdiv">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_1.png' %}"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_2.png' %}"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_3.png' %}"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_4.png' %}"
                 alt="SDG 4"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_5.png' %}"
                 alt="SDG 5"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_6.png' %}"
                 alt="SDG 6"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_7.png' %}"
                 alt="SDG 7"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_8.png' %}"
                 alt="SDG 8"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_9.png' %}"
                 alt="SDG 9"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_10.png' %}"
                 alt="SDG 10"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_11.png' %}"
                 alt="SDG 11"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_12.png' %}"
                 alt="SDG 12"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_13.png' %}"
                 alt="SDG 13"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_14.png' %}"
                 alt="SDG 14"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_15.png' %}"
                 alt="SDG 15"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_16.png' %}"
                 alt="SDG 16"
                 class="sdgimg">
            <img src="{% static 'sdglogo/TheGlobalGoals_Icons_Color_Goal_17.png' %}"
                 alt="SDG 17"
                 class="sdgimg">
        </div>
        <div id="carouselsdg"
             class="carousel slide"
             data-ride="carousel"
             data-interval="false"
        >
            <div class="carousel-inner">
                <div class="carousel-item active" id="sdg1">
                    <div class="sdginf">
                        asdasd
                    </div>
                </div>
                <div class="carousel-item" id="sdg2">
                    <div class="sdginf">
                        asdas
                    </div>
                </div>
                <div class="carousel-item" id="sdg3">
                    <div class="sdginf">
                        your content for sdg3 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg4">
                    <div class="sdginf">
                        your content for sdg4 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg5">
                    <div class="sdginf">
                        your content for sdg5 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg6">
                    <div class="sdginf">
                        your content for sdg6 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg7">
                    <div class="sdginf">
                        your content for sdg7 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg8">
                    <div class="sdginf">
                        your content for sdg8 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg9">
                    <div class="sdginf">
                        your content for sdg9 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg10">
                    <div class="sdginf">
                        your content for sdg10 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg11">
                    <div class="sdginf">
                        your content for sdg11 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg12">
                    <div class="sdginf">
                        your content for sdg12 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg13">
                    <div class="sdginf">
                        your content for sdg13 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg14">
                    <div class="sdginf">
                        your content for sdg14 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg15">
                    <div class="sdginf">
                        your content for sdg15 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg16">
                    <div class="sdginf">
                        your content for sdg16 here
                    </div>
                </div>
                <div class="carousel-item" id="sdg17">
                    <div class="sdginf">
                        your content for sdg17 here
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        var sdgimg = document.querySelectorAll(".sdgimg");
        var sdgdiv = document.querySelector(".sdgdiv")
        var carsdg = document.getElementById("carouselsdg")
        console.log(carsdg);
        var sdgprev = 0;

        function moveImage(i) {
            return function () {
                console.log(`sdg${i}`);
                var sdg = document.getElementById(`sdg${sdgprev + 1}`);
                sdg.classList.remove("active")
                sdg = document.getElementById(`sdg${i + 1}`);
                sdg.classList.add("active");
                sdgprev = i;
            };
        }

        for (var i = 0; i < sdgimg.length; i++) {
            sdgimg[i].addEventListener('click', moveImage(i));
        }
    </script>
{% endblock %}