{% load static %}
<!doctype html>
<html lang="en">
<head>
  	<title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static "login-form-20/css/style.css" %}">

	</head>
	<body class="img js-fullheight" style="background-image: url({% static "assets/img/ele.jpg" %});">
	<section class="ftco-section vh-100">
		<div class="container">
			<div class="row justify-content-center align-self-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h1 class="mb-2 text-center font-weight-bold">臺東大學智慧節能管理系統</h1>
						<h3 class="mb-4 text-center">帳號登入</h3>
					<form action="" method="post" class="signin-form">
					{% csrf_token %}
		      		<div class="form-group">
		      			{{ form.username }}
		      		</div>
	            <div class="form-group">
					{{ form.password }}
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">登入</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">保持登入狀態
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="{% url 'password_reset' %}" style="color: #fff">忘記密碼</a>
								</div>
	            </div>
	          </form>
			  <div class="justify-content-end">
				<a href="/accounts/register/"><button type="button" class="btn btn-primary btn-sm fw-bolder">&ensp;註冊 &ensp;</button></a>
			  </div>


		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static "login-form-20/js/jquery.min.js"%}"></script>
	<script src="{% static "login-form-20/js/popper.js"%}"></script>
	<script src="{% static "login-form-20/js/bootstrap.min.js"%}"></script>
	<script src="{% static "login-form-20/js/main.js"%}"></script>

	</body>
</html>