{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static "login-form-20/css/style.css" %}">

	</head>
	<body class="img js-fullheight" style="background-image: url({% static "login-form-20/images/ele.jpg" %});">
	<section class="ftco-section vh-100">
		<div class="container">
			<div class="row justify-content-start align-self-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">帳號登入</h3>
		      	<form action="" method="post" class="signin-form">
					{% csrf_token %}
		      		<div class="form-group">
		      			{{ form.username }}
		      		</div>
					  <!-- <div class="form-group mb-4">
						<label for="email">{{ form.username.label }}</label>
						<div class="input-group">
						  <span class="input-group-text" id="basic-addon1">
							<svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
							  xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd"
								d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
								clip-rule="evenodd"></path>
							</svg>
						  </span>

						</div>
					  </div> -->
	            <div class="form-group">
					{{ form.password }}
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">登入</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">保持登入狀態
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="{% url 'password_reset' %}" style="color: #fff">忘記密碼</a>
								</div>
	            </div>
	          </form>
	          <div class="social d-flex text-center">
	          	<a href="https://www.facebook.com/" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
	          	<a href="#" class="px-2 py-2 ml-md-1 rounded"> Twitter</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static "login-form-20/js/jquery.min.js"%}"></script>
  <script src="{% static "login-form-20/js/popper.js"%}"></script>
  <script src="{% static "login-form-20/js/bootstrap.min.js"%}"></script>
  <script src="{% static "login-form-20/js/main.js"%}"></script>

	</body>
</html>