{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static "login-form-20/css/style.css" %}">
    <!-- Section -->
    <body class="img js-fullheight" style="background-image: url({% static "assets/img/ele3.jpg" %});"></body>
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center  ">
                <!-- <p class="text-center"><a href="{% url 'login' %}" class="d-flex align-items-center justify-content-center">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                    Back to log in
                    </a>
                </p>
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="signin-inner my-3 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                        <h1 class="h3">忘記密碼?</h1>
                        <p class="mb-4">Don't fret! Just type in your email and we will send you a code to reset your password!</p>
                        <form method="post">
                          {% csrf_token %}
                          
                       
                            <div class="mb-4">
                                <label for="email">您的信箱</label>
                                <div class="input-group">
                                    <input type="email" name="{{form.email.name}}" class="form-control" id="email" placeholder="john@company.com" required autofocus>
                                </div>  
                            </div>
                          
                            <div class="d-grid">
                                <button type="submit" class="btn btn-purple">Recover password</button>
                            </div>
                        </form>
                    </div>
                </div> -->

                <div class="card text-center" style="width: 400px;">
                    
                    <img src="{% static "assets/img/password.svg" %}" width="200px" height="200px" class="d-block mx-auto mt-5"  alt="...">
                    <!-- <div class="card-header h5 text-white bg-primary">Password Reset</div> -->
                    <!-- <img src="{% static "assets/img/ele.jpg" %}"  alt="..."> -->
                    <div class="card-body px-5">
                        <p class="card-text py-2 fw-bolder">
                            請輸入您的信箱
                        </p>
                        <div class="form-outline form-group border-dark">
                            <input type="email" id="typeEmail" class="form-control my-3 text-danger border border-5" />
                        </div>
                        <a href="#" class="btn btn-primary w-100 fw-bolder">發送郵件到信箱</a>
                        <div class="d-flex justify-content-between mt-4">
                            <a class="text-dark fw-bolder" href="{% url 'login' %}">登入</a>
                            <a class="text-dark fw-bolder" href="{% url 'register' %}">註冊</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
	<script src="{% static "login-form-20/js/jquery.min.js"%}"></script>
  <script src="{% static "login-form-20/js/popper.js"%}"></script>
  <script src="{% static "login-form-20/js/bootstrap.min.js"%}"></script>
  <script src="{% static "login-form-20/js/main.js"%}"></script>
{% endblock content %}