.box1{
  position: relative;
}
.box2{
  position: absolute;
  bottom:0px;
  right:0px;
}
.bgtree{
  width: 200px; /* 設定容器寬度 */
  height: 200px; /* 設定容器高度 */
  background-image: url("/static/backgroundtree.png");
  background-size: contain; /* 設定背景圖片大小為容器內最大值，但保持圖片比例不變 */
  background-position: center center;
  background-repeat: no-repeat; /* 設定背景圖片不重複 */
}
.tree{
  vertical-align:bottom;
  width: 512px;
  height: 512px;
}
.image-container {
  background-image: url("/static/backgroundtree.png");
  background-size: contain; /* 設定背景圖片大小為容器內最大值，但保持圖片比例不變 */
  background-position: center center;
  background-repeat: no-repeat; /* 設定背景圖片不重複 */
  width: 100px; /* 設定圖片寬度為 100% */
  height: 100px; /* 讓高度根據寬度自動調整 */
  /*bottom: 0; !* 將圖片底部對齊容器底部 *!*/
  padding: 0px;
}

.cutimage{
  position: relative;
  width: 100px; /* 設定容器寬度 */
  height: 90px; /* 設定容器高度 */
  overflow: hidden; /* 隱藏超出容器大小的部分 */
  bottom: 0;
  top:10px;
}
.cutimage img {
  position: absolute;
  width: 100%; /* 設定圖片寬度為 100% */
  height: 100px; /* 讓高度根據寬度自動調整 */
  bottom: 0; /* 將圖片底部對齊容器底部 */
  object-position: bottom;
}

.ct-line.ct-threshold-above, .ct-point.ct-threshold-above, .ct-bar.ct-threshold-above {
  stroke: #f05b4f;
}

.ct-line.ct-threshold-below, .ct-point.ct-threshold-below, .ct-bar.ct-threshold-below {
  stroke: #59922b;
}

.ct-area.ct-threshold-above {
  fill: #f05b4f;
}

.ct-area.ct-threshold-below {
  fill: #59922b;
}
.ct-series-a .ct-bar.ct-threshold-above {
  stroke: #f05b4f;
}

.ct-series-a .ct-bar.ct-threshold-below {
  stroke: #59922b;
}